* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    .navigation{
        background-repeat:  no repeat;
        background-position: center;
         background-size:  cover;
        position: fixed;
        z-index: 2;
    }
    .logo{
        margin-left: 2.5vw;
    }
        .logo a{
            background: url("images/komi.png");
            background-repeat:  no repeat;
            background-position: center top;
            background-size:  cover;
        }
        .logo a:hover, .footerContent img:hover{
            border: 1px solid white;
        }
    
        .language:hover{
            border: 1px solid white;
        }
    .Royal, h1, h2, h3, h3a{
        overflow: hidden;
    }
    .Coffee, h1, h2, h3, h3a{
        overflow: hidden;
    }
    .Bervage, h1, h2, h3, h3a{
        overflow: hidden;
    }
    .Team, h1, h2, h3, h3a{
        overflow: hidden;
    }
        .Royal h1, .Royal h2, .Royal h3, .Coffee h1, .Coffee h2, .Coffee h3, .Bervage h1, .Bervage h2, .Bervage h3, .Team h1, .Team h2, .Team h3{
            border-left: 1px solid black;
            border-right: 1px solid black;
            background-color: white;
        }

        .Royal h3, .Coffee h3, .Bervage h3, .Team h3{
        border-bottom: 1px solid black;
        }
        .Royal h3 a:hover, .Coffee h3 a:hover, .Bervage h3 a:hover, .Team h3 a:hover {
            font-family: 'Times New Roman', Times, serif;
            background-color: #FAEBD7;
            color: #2F4F4F;
        }

    .orderButton, h1{
        width: 0;
        height: 0;
        font-size: 0;
    }

    .language:active  .dropdown-content {
        display: block;
        background-color: white;
    }
    .sideSticker{
        width: 100vw;
        height: 10vh;
        position: relative;
    }
        .sideSticker h20:active, .sideSticker h20:hover, .sideSticker h3:active, .sideSticker h3:hover{
            opacity: 0;
            transition:opacity 3s;
        }
        .sideSticker h20{
            background: url("images/deathPara.png");
            height: 20vw;
            width: 20vw;
            float: left;
        }
        .sideSticker h17{
            height: 20vw;
            width: 60vw;
            float: left;
        }
        .sideSticker h3{
            background: url("images/welcomeMaid.png");
            height: 20vw;
            width: 20vw;
            float: right;
        }
        .sideSticker h20, .sideSticker h3, .language h7{
            background-repeat:  no repeat;
            background-position: center;
            background-size:  cover;
        }
        .sideSticker h20, .sideSticker h17, .sideSticker h3{
            border-bottom: 1px solid white;
        }
    .bottomContent{
        height: 30vh;
        width: 100vw;
    }
        .bottomContent p{
            height: 20vh;
            width: 20vw;
            font-size: 90%;
        }
        .about, .community, .customer, .careers, .contact{
            text-decoration: none;
            flex-direction: row;
            float: left;
        }
        .about a, .community a, .customer a, .careers a, .contact a{
            height: 20%;
            width: 80%;
            text-decoration: none;
            margin: 0 0 0.1vh 2vw;
            display: flex;

            text-align: left;
            font-size: 100%;
            color: white;
        }
        .about a:hover, .community a:hover, .customer a:hover, .careers a:hover, .contact a:hover{
            text-decoration: underline;
        }
footer {
    height: 10vh;
    width: 100vw;
    border-top: 1px solid white;

}
    .footerContent{
        width: 100vw;
        height: 3vw;
    }
        .footerContent img{
            width: 30vw;
            height: 30vw;
            float: left;
            margin-left: 35vw;
            margin-top: -5vh;
            position: relative;
            display: flex;
            z-index: 4;
            border-radius: 50%;
        }
        .footerContent h4{
            margin-top: 1vh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: blue;
            width: 100vw;
            padding: 0 10vw 0 10vw;
            height: 4vh;
            font-size: 100%;

            float: left;
        }
        .footerContent li{
            height: 7.5vh;
            width: calc(100vw / 3);
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: center;
        }
        .footerContent li a{
            color: blue;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(100vw / 3);
            float: right;
            height: 7.5vh;
            text-decoration: none;
            padding: 0 4vw;
        }

        .media{
            width: 80vw;
            float: left;
            height: 5vh;
            display: flex;
            flex-direction: row;
            position: relative;
        }
            .media p {
                height: 100%;
                width: 20%;

                padding-right: 1%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
    
            .media a{
                width: 5vw;
                margin-right: 2vw;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
    
            .media a img{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }
            header, article, footer, .navigation{
                background-color: black;
            }
/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        width: 100vw;
        height: auto;
        background-color: black ;

    }

    header {
        width: 100vw;
        height: 20vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: -3vh;

    }

    .navigation {
        width: 100%;
        height: 10%;
        margin: 0 0 5% 0;
        border: 1px solid gray;
        position: fixed;
        z-index: 2;
    }

    .logo {
        height: 10vh;
        width: 10vh;
        position: absolute;
        float: left;
    }

    .logo a {
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    .language, .language h10, .language h7, .dropdown-content, .dropdown-content a{
        font-size: 0;
    }
    .orderButton {
        margin: 1vh 1% 0 0;
        width: 24vw;
        height: 8vh;
        text-decoration: none;
        text-align: center;
        float: right;
        border: 0.5vh solid white;
    }

    .orderButton h1 {
        width: 100%;
        height: 100%;
        word-wrap: break-word;
        font-size: 4vw;
        font-family: cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        color: blue;
    }

    .signIn{
        font-size: 0;
    }

    article {
        width: 100vw;
        height: 310vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .Royal{
        width: 100vw;
        height: 60vh;
        background-color: red;
        word-wrap: break-word;
        margin-bottom: 5vh;
        overflow: hidden;
    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5


        

    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding: 0 0 10% 5%;
    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        margin-bottom: 50vh;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        
        width: 100%;
        height: 60vh;
        background-color: green;
        
        margin-bottom: 5vh;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5
    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;


    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }
    .Bervage {
        width: 100%;
        height: 60vh;
        background-color: blue;
        margin-bottom: 5vh;
    }
    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;


    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding-left: 5%;
    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;


    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 100%;
        height: 60vh;
        background-color: violet;
        
        margin-bottom: 5vh;

    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5



    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding-left: 5%;

    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;


    }
    .Team h3 a{

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }
    .sideSticker{
        width: 100vw;
        height: 15vh;
    }
    .sideSticker h20{
        height :100%;
        width: 30vw;;
        margin-left: -1vw;
    }
    .sideSticker h17{
        height: 100%;
        width: 40vw;
        float: left;
    }
    .sideSticker h3{
        height:100%;
        width: 30vw;
    }
    
    .bottomContent{
        height: 20vh;
        width: 100vw;
    }
        .bottomContent p{
            height: 20vh;
            width: calc(100vw/3);
            font-size: 90%;
        }
        .about, .community, .customer, .careers, .contact{
            text-decoration: none;
            flex-direction: column;
            float: left;
        }
        .about a, .community a, .customer a, .careers a, .contact a{
            height: 20%;
            width: 80%;
            text-decoration: none;
            margin: 0 0 0.1vh 2vw;
            display: flex;
            text-align: left;
            font-size: 100%;
            color: white;
        }
        .about a:hover, .community a:hover, .customer a:hover, .careers a:hover, .contact a:hover{
            text-decoration: underline;
        }

    footer {
        height: 35vh;
        width: 100vw;
        margin-top: 5vh;
        
    }
    .media{
        width: 100vw;
        float: left;
        height: 5vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;
    }
    
    .media p {
        height: 100%;
        width: 100%;
        font-size: 100%;

        padding-right: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .jp_social{
        height: 5vh;
        width: 50vw;
        float: left;
        display: flex;
        position: relative;
    }
    .jp_social a{
        height: 5vh;
        width: 25%;
        display: flex;
        flex-direction: row;
    }
    .jp_social a img{
        margin-top: 0.1vh;
        height: 10vw;
        width: 10vw;
        float: left;
        position: relative;
    }
}


/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        width: 100vw;
        height: 100vh;

    }

    header {
        width: 100vw;
        height: 15vh;
        box-sizing: border-box;
        overflow: hidden;
        z-index: 30;
        position: relative;

    }
    

    .navigation {
        width: 100%;
        height: 15vh;
        z-index: 30;
        border: 1px solid gray;
        position: fixed;
    }

    .logo {
        height: 15vh;
        width: 15vh;
        position: absolute;
        float: left;
    }

    .logo a{
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        z-index: 13;
    }

    .language{
        width: 15%;
        height:15vh;
        float: right;
        position: relative;


    }

    .language h7{
        display: flex;
        width: 50%;
        height: 10vh;
        background: url("images/americaFlag.jpg");
        background-position: center;
        background-size:  cover;
        margin: 2.5vh 0 25% 0;
        float: left;
        

    }
    .language h10{
        color:white;
        display: flex;
        font-size: 3vh;
        width: 30%;
        height: 30%;
        margin: 2vh 1vw 0 100%;
    }
    .dropdown-content {
        flex-direction: column;
        height: 15vh;
        width: 200%;
        display: none;
        position: absolute;
        border: 1px solid red;
        margin-top: 10vh;
        background-color: white;
    }
    .dropdown-content p, .dropdown-content a{
        margin-left: 2vw;
        display: flex;
        align-items: center;

    }

    .dropdown-content p{
        width: 100%;
        height: 5vh;
        
    }    
    .dropdown-content a{
        text-decoration: none;
        font-size: 2vh;
        display: flex;
        height: 5vh;
        width: 90%;
        position: relative;
        margin-left: 2vw;
    } 
    
    .signIn{
        width: 18%;
        height: 13vh;
        margin: 1vh 1vw;
        text-decoration: none;
        text-align: center;
        word-wrap: break-word;
        font-size: calc(3vh * 9/16);
        overflow: hidden ;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;

    }
    .signIn:hover {
        border: 1px solid white;
    }

    article {
        width: 100vw;
        height: 137vh;
        padding: 0;

        box-sizing: border-box;
        overflow: hidden;
        z-index: 1;
        position: relative;
    }
    .advertise{
        height: 100%;
        width: 100%; 
        z-index: 11;
    }
    .Royal{
        width: 42.5%;
        height: 40vh;
        background-color: red;
        float: left;
        margin: 0 0 5vh 5%;
        overflow: hidden;

    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        font-size: 100%;
    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding: 0 0 10% 5%;
        font-size: 100%;


        

    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        margin-bottom: 50vh;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        width: 42.5%;
        height: 40vh;
        background-color: green;
        float: right;
        margin-right: 5%;
        margin-bottom: 5vh;
        overflow: hidden;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
  

    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        word-wrap: break-word;
        overflow: hidden;
        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;

    

    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;

    }




    .Bervage {
        width: 42.5%;
        height: 40vh;
        background-color: blue;
        margin-bottom: 5vh;
 
        float: left;
        margin: 0 0 5vh 5%;

        
    }

    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;



    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;

        padding-left: 5%;

    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
 
    

    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 42.5%;
        height: 40vh;
        background-color: violet;
        float: right;
        margin: 0 5% 5vh 0;

    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        


    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding-left: 5%;
        
    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        
    

    }
    .Team h3 a{
 
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .sideSticker{
        width: 100%;
        height: 20vh;
        position: relative;
    }

footer {
    height: 32vh;
    width: 100vw;
}
    .footerContent img, .footerContent h4, .footerContent li, .footerContent li a{
            display: flex;
            align-items: center;
            justify-content: center;
    }
        .footerContent img{
            width: 15vh;
            height: 15vh;
            float: left;
            margin-left: calc(50vw - 7.5vh);
            margin-top: -5vh;
            position: relative;
            display: flex;
            z-index: 4;
        }
        .footerContent h4{
            margin-top: 1vh;
            
            color: blue;
            width: 100vw;
            padding: 0 10vw 0 10vw;
            height: 4vh;
            font-size: 100%;

            float: left;
        }
        .footerContent li{
            height: 5vh;
            width: calc(100vw / 3);
            float: left;
            list-style-type: none;
            display: flex;
            justify-content: center;
        }
        .footerContent li a{
            color: blue;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: calc(100vw / 3);
            float: right;
            height: 7.5vh;
            text-decoration: none;
            padding: 0 4vw;
        }
    .media{
        width: 100vw;
        float: right;
        height: 5vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: row;
        position: relative;
    }
        .media p {
            height: 100%;
            width: 100%;
            font-size: 100%;
            color: blue;
            padding-right: 1%;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
    .jp_social{
        height: 5vh;
        width: 100vw;
        float: left;
        display: flex;
        position: relative;
    }
        .jp_social, .jp_social a, .jp_social a img{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
        }
        .jp_social a{
            height: 5vh;
            width: 10%;
            display: flex;
            flex-direction: row;
        }
        .jp_social a img{
            height: 6vh;
            width: 6vh;
            float: left;
            position: relative;
        }

}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        margin: 0;
        padding: 0;
        background-color: black ;

    }

    header {
        width: 100vw;
        height: 15vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    

    .navigation {
        width: 100%;
        height: 10%;
        margin: 0 0 5% 0;
        border: 1px solid gray;
        position: fixed;
    }

    .logo {
        height: 10vh;
        width: 10vh;
        position: absolute;
        float: left;
        margin-left: 1%;
    }

    .language:hover  .dropdown-content {
        display: block;
    }

    .logo a {
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        
    }

    .language{
        width: 10%;
        height:100%;
        float: right;
        position: relative;
    }

    .language h7{
        display: flex;
        width: 50%;
        height: 5vh;
        background: url("images/americaFlag.jpg");
        background-repeat:  no repeat;
        background-position: center;
        background-size:  cover;
        margin: 2.5vh 0 25% 10%;
        float: left;
        

    }
    .language h10{
        color:white;
        display: flex;
        font-size: 4vh;

        width: 100%;
        height: 100%;
        margin: 1vh 0 0 100%;
    }
    .language:hover  .dropdown-content {
        display: block;
        background-color: black;
    }
    
    .dropdown-content a:hover {
        text-decoration: underline;
        color: gray; 
    }
    .dropdown-content {
        flex-direction: column;
        height: 15vh;
        width: 200%;
        display: none;
        position: absolute;
        border: 1px solid white;
        z-index: 5 !important;
        margin-top: 9.5vh;
    }
    .dropdown-content p, .dropdown-content a{
        display: flex;
        align-items: center;
        margin-left: 2vw;
        font-size: 2vh;
        text-decoration: none;
        height: 5vh;
        width: 100%;
        position: relative;
    }
    .dropdown-content p{
        color: white;
    }
    .dropdown-content a{
        color: green;
    }
    .signIn{
        width: 10%;
        height: 8vh;
        margin: 1vh 1vw;
        text-decoration: none;
        text-align: center;
        word-wrap: break-word;
        font-size: calc(3vh * 9/16);
        overflow: hidden ;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;

    }
    .signIn:hover {
        border: 1px solid white;
    }

    article {
        width: 100vw;
        height: 167vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .Royal{
        width: 40%;
        height: 60vh;
        background-color: red;
        margin-bottom: 5vh;
        overflow: hidden;
        float: left;
        margin-left: 7.5%;

    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        

        

    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding: 0 0 10% 5%;
        
        

    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        margin-bottom: 50vh;
        border-bottom: 1px solid black;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        
        width: 40%;
        height: 60vh;
        background-color: green;
        margin-bottom: 5vh;
        
        float: right;
        margin-right: 7.5%;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        
    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        


        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        
    

    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }




    .Bervage {
        width: 40%;
        height: 60vh;
        background-color: blue;
        margin-bottom: 5vh;
        
        float: left;
        margin-left: 7.5%;

        
    }

    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        


    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        
        padding-left: 5%;

    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        
    

    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 40%;
        height: 60vh;
        background-color: violet;
        margin-bottom: 5vh;
        
        float: right;
        margin-right: 7.5%;
    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;


    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        padding-left: 5%;
        
    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        
    

    }
    .Team h3 a{
        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }
    footer {
        margin-top: 10vh;
        height: 25vh;
        width: 100vw;
    }
    .footerContent{
        width: 100%;
        height: 100%;

    }
        .footerContent img{
            width: 15vh;
            height: 15vh;
            float: left;
            margin: 1.5vw;
            border-radius: 50%;
        }
        .footerContent h4{
            margin-top: 1vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 80vw;
            padding: 0 10vw 0 10vw;
            height: 4vh;
            font-size: 100%;
            float: left;
        }
        .footerContent li{
            width: 100vw;
            height: 7.5vw;
            width: calc((90vw -15vh)/ 3.4);
            float: left;
            list-style-type: none;
            flex-direction: row;
        }
        .footerContent li a{
            height: 50%;
            width: calc(80vw/3);
            font-size: 1.5vh;
            color: blue;
            text-decoration: none;
        }
        
        .footerContent li a:hover{
            text-decoration: underline;
            color: green;
        }
        .media{
            width: 20vw;
            float: left;
            height: 5vh;
            display: flex;
            position: relative;
        }
            .media p {
                height: 100%;
                width: 100%;
                color: blue;
                padding-right: 10%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                font-size: 2vw;
            }
        .jp_social{
            height: 5vh;
            width: 60vw;
            float: left;
            display: flex;
            position: relative;
        }
            .jp_social, .jp_social a, .jp_social a img{
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            .jp_social a{
                height: 5vh;
                width: 10%;
                display: flex;
                float: left;
                flex-direction: row;
            }
            .jp_social a img{
                height: 6vh;
                width: 6vh;
                float: left;
                position: relative;
            }
}